.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  margin-top: 16px;
}

.wrapper ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 48px;
  font-size: 20px;
  line-height: 36px;
  color: #eeed;
}

@media (width <= 500px) {
  .wrapper ul {
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    font-size: 14px;
    line-height: 24px;
  }
}

/*

.wrapper ul {
  margin-block: 64px;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.wrapper li {
  font-size: 24px;
  position: relative;
}

.wrapper .left {
  text-align: right;
  translate: -70%;
}

.wrapper .left::before {
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #eee;
  right: -25%;
  top: 0;
  transition: 0.3s ease-in-out;
}

.wrapper .right {
  translate: 70%;
}

.wrapper .right::before {
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #eee;
  left: -25%;
  top: 0;
  transition: 0.3s ease-in-out;
}

.wrapper ul::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #777;
  right: 50%;
  translate: 50%;
  box-shadow: 0 0 15px #000;
}

.wrapper li:hover::before {
  background-color: blue;
}

@media (width < 1000px) {
  .wrapper li {
    font-size: 16px;
  }
}

@media (width < 400px) {
  .wrapper li {
    font-size: 12px;
  }
} */
